<div class="container m-5 text-center">

<h1>STUPID COACH</h1>

<div>
<p><%=@questions %></p>
<p>-You</p>
</div>

<div>
<p><%=@answers%></p>
<p>-Your Coach</p>
</div>

<%= link_to "Another question", root_path, class:"btn btn-primary"%>
</div>
